<!-- BEGIN /xnat-templates/screens/xnat_eogSessionData/xnat_eogSessionData_details.vm -->
#parse($turbineUtils.getTemplateName("_details","xnat:imageSessionData",$project))
<!-- END /xnat-templates/screens/xnat_eogSessionData/xnat_eogSessionData_details.vm -->
