<!-- BEGIN /xnat-templates/screens/xnat_ecgSessionData/xnat_ecgSessionData_details.vm -->
#parse($turbineUtils.getTemplateName("_details","xnat:imageSessionData",$project))
<!-- END /xnat-templates/screens/xnat_ecgSessionData/xnat_ecgSessionData_details.vm -->
