<!-- BEGIN /screens/xnat_eegSessionData/validate.vm -->
#parse($turbineUtils.getTemplateName("validate.vm","xnat:imageSessionData",$project,"edit"))
<!-- END /screens/xnat_eegSessionData/validate.vm -->
