#* @vtlvariable name="om" type="org.nrg.xdat.om.XnatDmssessiondata" *#
#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#
#* @vtlvariable name="project" type="java.lang.String" *#
#parse($turbineUtils.getTemplateName("download", $om.getXSIType(), $project, "download"))