<!--BEGIN /xnat-templates/screens/xnat_emgSessionData/xnat_emgSessionData_reconstructions.vm -->
<!-- Reconstructions not applicable to electromyography (waveform data - raw signal is the complete information) -->
<!--END /xnat-templates/screens/xnat_emgSessionData/xnat_emgSessionData_reconstructions.vm -->
