<!-- BEGIN /xnat-templates/screens/xnat_xcSessionData/xnat_xcSessionData_details.vm -->
#parse($turbineUtils.getTemplateName("_details","xnat:imageSessionData",$project))
<!-- END /xnat-templates/screens/xnat_xcSessionData/xnat_xcSessionData_details.vm -->
