<!-- BEGIN /screens/xnat_ecgSessionData/validate.vm -->
#parse($turbineUtils.getTemplateName("validate.vm","xnat:imageSessionData",$project,"edit"))
<!-- END /screens/xnat_ecgSessionData/validate.vm -->
