<!-- BEGIN /xnat-templates/screens/xnat_emgSessionData/xnat_emgSessionData_details.vm -->
#parse($turbineUtils.getTemplateName("_details","xnat:imageSessionData",$project))
<!-- END /xnat-templates/screens/xnat_emgSessionData/xnat_emgSessionData_details.vm -->
