<!-- BEGIN /xnat-templates/screens/xnat_posSessionData/xnat_posSessionData_details.vm -->
#parse($turbineUtils.getTemplateName("_details","xnat:imageSessionData",$project))
<!-- END /xnat-templates/screens/xnat_posSessionData/xnat_posSessionData_details.vm -->
