<!--BEGIN /xnat-templates/screens/xnat_posSessionData/xnat_posSessionData_reconstructions.vm -->
<!-- Reconstructions not applicable to position data (tracking data - no image reconstruction) -->
<!--END /xnat-templates/screens/xnat_posSessionData/xnat_posSessionData_reconstructions.vm -->
